<div>
    <div class="col-lg-1"></div>
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body no-padding">
                <div class="center">
                    <div style="background-color:#EEEEEE; height: 120px;">
                        <div style="position: relative; top: 35%;"><a href="" class="bold ellipsis" style="font-size: 25px;">{{user.username}}</a></div>
                    </div>
                    <button class="btn btn-primary btn-lg round bold" style="width: 55px; height: 55px; margin-top: -25px;">
                        <span class="glyphicon glyphicon-flash"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="list-group">
                        <a href="" style="padding: 0px 20px;" class="list-group-item no-border no-radius" data-ng-repeat="item in sidebarList.userList"
                        data-ng-if="item.count > 0">
                            <table>
                                <tr>
                                    <td>
                                        <h3><i data-ng-class="item.glyphicon"></i></h3>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <p class="list-group-item-heading bold">{{item.name}}</p>
                                        <p class="list-group-item-text">{{item.count}} movies.</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
                <hr class="no-margin">
                <div>
                    <div class="list-group">
                        <a href="{{item.href}}" style="padding: 0px 20px;" class="list-group-item no-border no-raduis" data-ng-repeat="item in sidebarList.movieList">
                            <table>
                                <tr>
                                    <td>
                                        <h5><i data-ng-class="item.glyphicon"></i></h5>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <p class="list-group-item-heading bold">{{item.title}}</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-6 no-padding" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div class="well">
            <form class="form-horizontal" role="form">
                <h4>Comment about a movie</h4>
                <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="Use @movieName to tag movie." data-ng-model="movieComment" data-ng-change="movieCommentChange()"></textarea>
                </div>
                <button class="btn btn-primary pull-right" type="button">Post</button>
                <ul class="list-inline">
                    <li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                    <li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li>
                </ul>
            </form>
        </div>
        <div class="panel panel-default" style="overflow: hidden;" data-ng-repeat="post in feed track by $index">
            <div class="panel-heading">
                <table>
                    <td>
                        <a href="{{'#/user/' + post.User._id}}">
                            <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-128.png" alt="" class="img-circle" style="margin: 0px; max-width: 50px;">
                        </a>
                    </td>
                    <td style="padding-left: 10px;">
                        <a href="{{'#/user/' + post.User._id}}" class="bold">{{post.User.Name}}</a>
                        <small> {{post.ListName}}</small>
                        <a href="{{'#/movie/view/' + post.Movie._id}}" class="bold"> {{post.Movie.Title}}</a>
                        <br />
                        <small title="{{post.UpdatedAt}}">- about {{post.UpdatedAtFromNow}}</small>
                    </td>
                </table>
            </div>
            <div class="panel-body">
                <div class="panel panel-default no-margin" style="overflow: hidden;">
                    <div class="panel-body no-padding">
                        <div>
                            <a class="row no-margin" href="{{'#/movie/view/' + post.Movie._id}}">
                                <blockquote class="col-xs-12 no-border no-margin">
                                    <table>
                                        <td>
                                            <h1 class="no-margin">{{post.Movie.ImdbRating > 0 ? post.Movie.ImdbRating : 'n.a.'}}</h1>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <h5 class="bold no-margin">{{post.Movie.Title}} <small>{{post.Movie.Released}}</small></h5>
                                            <h5 class="no-margin"><small>{{post.Movie.Genres}}</small></h5>
                                        </td>
                                    </table>
                                </blockquote>
                                <div class="col-xs-12 no-padding">
                                    <div style="max-height: 220px; overflow: hidden;">
                                        <img data-ng-src="{{post.Movie.Poster}}" class="full-width">
                                    </div>
                                </div>
                            </a>
                            <blockquote class="row no-padding no-margin no-border">
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{post.Movie.addedToWatchlist}}" title="Add To Watchlist" data-ng-click="addToWatchlist($index)"><span class="glyphicon glyphicon-plus movie-action-icon"></span>
                                        <br><small class="ellipsis">Add To Watchlist</small></button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{post.Movie.addedToWatched}}" title="Mark As Watched" data-ng-click="addToWatched($index)"><span class="glyphicon glyphicon-ok movie-action-icon"></span>
                                        <br><small class="ellipsis">Mark As Watched</small></button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{post.Movie.addedToLiked}}" title="Like This Movie" data-ng-click="addToLiked($index)"><span class="glyphicon glyphicon-heart movie-action-icon"></span>
                                        <br><small class="ellipsis">Like This Movie</small></button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-false" title="Play Trailer" data-ng-click="playTrailer($index)"><span class="glyphicon glyphicon-play movie-action-icon"></span>
                                        <br><small class="ellipsis">Play Trailer</small></button>
                                </div>
                            </blockquote>
                            <div class="well no-margin" data-ng-if="post.Caption">
                                <p class="justified">{{post.Caption}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer no-padding">
                <a href="" class="btn btn-link"><small>{{post.LikesCount}} likes</small></a>
                <a href="{{'#/user/' + post.User._id + '/post/' + post._id}}" class="btn btn-link"> <small>{{post.CommentsCount}} comments</small></a>
                <blockquote class="no-margin" data-ng-repeat="comment in post.Comments">
                    <ul class="list-unstyled" style="font-size: 0.7em;">
                        <li><a href="{{'#/user/' + comment.User._id}}" class="bold">{{comment.User.Name}}</a><span> {{comment.Text}}</span></li>
                    </ul>
                </blockquote>
                <form lpformnum="3" data-ng-submit="addComment($index)">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-link" type="button" title="like" data-ng-click="likePost($index)"><span class="glyphicon glyphicon-heart toggle-icon-{{post.IsLiked}}"></span></button>
                        </div>
                        <input class="form-control no-radius no-border" placeholder="Add a comment.." type="text" data-ng-model="post.AddComment">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden-xs hidden-sm col-md-3 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{'#/user/' + post.User._id}}">
                                    <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-128.png" alt="" class="img-circle" style="margin: 0px; max-width: 50px;">
                                </a>
                            </td>
                            <td style="padding-left: 10px;">
                                <a href="{{'#/user/' + post.User._id}}" class="bold">name</a>
                                <small> some extra info</small>
                                <p><a href="#" class="btn btn-default btn-xs"><small>follow</small></a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{'#/user/' + post.User._id}}">
                                    <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-128.png" alt="" class="img-circle" style="margin: 0px; max-width: 50px;">
                                </a>
                            </td>
                            <td style="padding-left: 10px;">
                                <a href="{{'#/user/' + post.User._id}}" class="bold">name</a>
                                <small> some extra info</small>
                                <p><a href="#" class="btn btn-default btn-xs"><small>follow</small></a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{'#/user/' + post.User._id}}">
                                    <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-128.png" alt="" class="img-circle" style="margin: 0px; max-width: 50px;">
                                </a>
                            </td>
                            <td style="padding-left: 10px;">
                                <a href="{{'#/user/' + post.User._id}}" class="bold">name</a>
                                <small> some extra info</small>
                                <p><a href="#" class="btn btn-default btn-xs"><small>follow</small></a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>