<div class="col-xs-12" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
    <div></div>
    <div>
        <div class="col-sm-3 col-md-3 col-lg-2" data-ng-repeat="movie in movies">
            <div class="thumbnail">
                <a href="{{'#/movie/view/' + movie._id}}">
                    <div style="height: 260px; overflow: hidden;">
                        <img data-ng-src="{{movie.Poster}}" class="full-width">
                    </div>
                    <div class="row no-margin center" style="margin-top: -40px;">
                        <button class="btn btn-success round" style="width: 60px; height: 60px;">
                            <h4 class="no-margin">{{movie.ImdbRating | number: 1}}</h4>
                        </button>
                    </div>
                    <h5 style="height: 17px;" class="bold ellipsis">{{movie.Title}}</h5>
                    <p style="height: 16px;" class="ellipsis">{{movie.Released}}</p>
                    <p style="height: 16px;" class="ellipsis">{{movie.Genres}}</p>
                </a>
                <div class="row no-padding no-margin">
                    <div class="col-xs-3 no-padding no-margin">
                        <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatchlist}}" title="Add To Watchlist" data-ng-click="addToWatchlist($index)">
                            <span class="glyphicon glyphicon-plus movie-action-icon"></span>
                        </button>
                    </div>
                    <div class="col-xs-3 no-padding no-margin">
                        <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatched}}" title="Mark As Watched" data-ng-click="addToWatched($index)">
                            <span class="glyphicon glyphicon-ok movie-action-icon"></span>
                        </button>
                    </div>
                    <div class="col-xs-3 no-padding no-margin">
                        <button class="btn btn-link full-width toggle-icon-{{movie.addedToLiked}}" title="Like This Movie" data-ng-click="addToLiked($index)">
                            <span class="glyphicon glyphicon-heart movie-action-icon"></span>
                        </button>
                    </div>
                    <div class="col-xs-3 no-padding no-margin">
                        <button class="btn btn-link full-width toggle-icon-false" title="Play Trailer" data-ng-click="playTrailer($index)">
                            <span class="glyphicon glyphicon-play movie-action-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>