<div data-ng-if="movie" style="margin-top: -85px;">
    <div class="hidden-xs" style="background-color: black; min-height:200px; height: {{backdropHeight}}px; max-height: 700px; overflow: hidden; margin-top: -15px;">
        <div class="row" style="background-image: url('{{movie.Poster}}'); background-size:cover; -webkit-filter: blur(5px); min-height:200px; height: {{backdropHeight}}px; max-height: 700px; opacity: 0.8;">

        </div>
        <div class="row no-margin" style="top: -80%; position: relative;">
            <div class="col-sm-12 center no-padding">
                <div>
                    <img style="background-image: url('{{movie.Poster}}'); background-size:cover; background-position: center center; height: 200px; width: 200px;"
                        class="img-circle">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row center no-border no-margin">
                <h2 class="bold white">{{movie.Title}}</h2>
                <p class="white no-margin">{{movie.Released}}</p>
                <small class="white">
                    {{movie.Genres.length > 0 ? '| ':''}}
                    <span data-ng-repeat="genre in movie.Genres">
                        <a class="white" href="#/movie/list/Genres:{{genre}}">{{genre}}</a> | 
                    </span>
                </small>
                <p><small class="white">{{movie.Runtime}} min</small></p>
            </div>
        </div>
    </div>
    <div class="visible-xs" style="margin-top: -15px;"></div>
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-10 col-lg-10 no-padding">
        <div class="panel panel-default">
            <div class="panel-body no-padding">
                <div class="visible-xs row no-margin">
                    <a href="{{'#/movie/view/' + movie._id}}">
                        <div class="col-sm-4 no-padding">
                            <div style="min-height: 100px; max-height: 300px; overflow: hidden;" data-ng-init="movie.posterAvailable = true">
                                <!--<img data-ng-src="{{movie.Poster}}" class="full-width">-->
                                <img data-ng-if="movie.posterAvailable == true" data-ng-src="{{movie.Poster}}" class="full-width" data-ng-error="movie.posterAvailable = false">
                            </div>
                        </div>
                    </a>
                    <div class="col-sm-8 center no-border no-margin">
                        <a href="{{'#/movie/view/' + movie._id}}">
                            <h2 class="no-margin bold">{{movie.Title}}</h2>
                        </a>
                        <p class="no-margin">{{movie.Released}}</p>
                        <small>
                            {{movie.Genres.length > 0 ? '| ':''}}
                            <span data-ng-repeat="genre in movie.Genres">
                                <a href="#/movie/list/Genres:{{genre}}">{{genre}}</a> | 
                            </span>
                        </small>
                        <p class="no-margin"><small>{{movie.Runtime}} min</small></p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-2 no-padding">
                    <div class="row center no-margin">
                        <span class="btn btn-link no-padding">
                            <h1 style="font-size: 5em;" class="ellipsis center no-margin">{{movie.ImdbRating | number: 1}}</h1>
                        </span>
                        <div class="clearfix hidden-xs"></div>
                        <div class="hidden col-xs-12 no-padding">
                            <div class="col-xs-6 no-padding" data-ng-if="movie.TomatoMeter">
                                <h1 class="btn btn-link no-padding">{{movie.TomatoMeter | number: 1}}</h1>
                            </div>
                            <div class="col-xs-6 no-padding" data-ng-if="movie.Metascore">
                                <h1 class="btn btn-link no-padding">{{movie.Metascore | number: 1}}</h1>
                            </div>
                        </div>
                        <ul class="pager no-margin">
                            <li><a href="">Rate this movie</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="no-margin">
                    <div class="row center no-margin">
                        <a class="btn btn-danger" data-ng-if="movie.Rated" style="margin: 5px 0px;">{{movie.Rated}}</a>
                        <a class="btn btn-primary" data-ng-if="movie.BoxOffice" style="margin: 5px 0px;">{{movie.BoxOffice}}</a>
                        <a class="btn btn-warning" href="{{'http://www.imdb.com/title/' + movie.ImdbID}}" target="_blank" data-ng-if="movie.ImdbID"
                            style="margin: 5px 0px;"><i class="glyphicon glyphicon-new-window"></i> IMDB</a>
                        <div class="col-xs-12 no-padding hidden-xs">
                            <a class="btn btn-facebook" style="margin: 5px 0px;"><span class="bold">f</span></a>
                            <a class="btn btn-twitter" style="margin: 5px 0px;"><span class="bold">t</span></a>
                            <a class="btn btn-google" style="margin: 5px 0px;"><span class="bold">g</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-10 no-padding">
                    <div class="col-md-9">
                        <div class="no-padding no-margin no-border" style="overflow: hidden;">
                            <blockquote class="row no-padding no-margin no-border">
                                <hr class="no-margin visible-xs">
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatchlist}}" title="Add To Watchlist" data-ng-click="addToWatchlist()"><span class="glyphicon glyphicon-plus movie-action-icon"></span>
                                        <br><small class="ellipsis">Add To Watchlist</small>
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatched}}" title="Mark As Watched" data-ng-click="addToWatched()"><span class="glyphicon glyphicon-ok movie-action-icon"></span>
                                        <br><small class="ellipsis">Mark As Watched</small>
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-{{movie.addedToLiked}}" title="Like This Movie" data-ng-click="addToLiked()"><span class="glyphicon glyphicon-heart movie-action-icon"></span>
                                        <br><small class="ellipsis">Like This Movie</small>
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-link full-width toggle-icon-false" title="Play Trailer" data-ng-click="playTrailer()"><span class="glyphicon glyphicon-play movie-action-icon"></span>
                                        <br><small class="ellipsis">Play Trailer</small>
                                    </button>
                                </div>
                            </blockquote>
                            <hr class="no-margin">
                            <div class="clearfix"></div>
                            <div>
                                <label for="title" data-ng-if="movie.Plot">Plot : </label>
                                <p class="justified" data-ng-if="movie.Plot">{{movie.Plot}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <label for="title">Actors</label>
                                <ul class="pager no-margin">
                                    <li data-ng-repeat="actor in movie.Actors" class="previous"><a href="{{'#/movie/list/Actors:' + actor._id}}" class="navbar-item" style="margin: 1px;">{{actor.Name}}</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="no-margin">
                                <label for="title">Directors</label>
                                <ul class="pager no-margin">
                                    <li data-ng-repeat="director in movie.Directors" class="previous"><a href="{{'#/movie/list/Directors:' + director._id}}" class="navbar-item" style="margin: 1px;">{{director.Name}}</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="no-margin">
                                <label for="title">Writers</label>
                                <ul class="pager no-margin">
                                    <li data-ng-repeat="writer in movie.Writers" class="previous"><a href="{{'#/movie/list/Writers:' + writer._id}}" class="navbar-item" style="margin: 1px;">{{writer.Name}}</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 no-padding">
                        <div class="clearfix"></div>
                        <div class="col-xs-12">
                            <label for="title" data-ng-if="movie.Awards">Awards : </label>
                            <p data-ng-if="movie.Awards">{{movie.Awards}}</p>
                        </div>
                        <div class="col-xs-12">
                            <label for="title" data-ng-if="movie.Production">Production : </label>
                            <p data-ng-if="movie.Production">{{movie.Production}}</p>
                        </div>
                        <div class="col-xs-12">
                            <label for="title" data-ng-if="movie.Languages">Languages : </label>
                            <p data-ng-if="movie.Languages">{{movie.Languages}}</p>
                        </div>
                        <div class="col-xs-12">
                            <label for="title" data-ng-if="movie.TomatoConsensus">TomatoConsensus : </label>
                            <p data-ng-if="movie.TomatoConsensus">{{movie.TomatoConsensus}}</p>
                        </div>
                        <div class="col-xs-12">
                            <label for="title" data-ng-if="movie.Website">Website : </label>
                            <p class="ellipsis"><a href="{{movie.Website}}" target="_blank" data-ng-if="movie.Website">{{movie.Website.split(".")[1]}}</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <form class="form-horizontal" role="form">
                <h4>Say something about this movie</h4>
                <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="Something like... Hey this movie is all about this and that." data-ng-model="movieComment"
                        data-ng-change="movieCommentChange()"></textarea>
                </div>
                <button class="btn btn-primary pull-right" type="button">Comment</button>
                <ul class="list-inline">
                    <li><a href=""><i class="glyphicon glyphicon-check"></i></a></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="col-md-1 col-lg-1"></div>
</div>