<div data-ng-if="movie">
    <div class="hidden-xs" style="background-color: black; min-height:200px; height: {{backdropHeight}}px; max-height: 420px; overflow: hidden; margin-top: -15px;">
        <div class="row" style="background-image: url('{{movie.Poster}}'); background-size:cover; -webkit-filter: blur(5px); min-height:200px; height: {{backdropHeight}}px; max-height: 420px; opacity: 0.8;">

        </div>
        <div class="row no-margin" style="top: -90%; position: relative;">
            <a href="{{'#/movie/view/' + movie._id}}">
                <div class="col-sm-12 center no-padding">
                    <div>
                        <img style="background-image: url('{{movie.Poster}}'); background-size:cover; background-position: center center; height: 200px; width: 200px;"
                            class="img-circle">
                    </div>
                </div>
            </a>
            <div class="row center no-border no-margin">
                <a href="{{'#/movie/view/' + movie._id}}">
                    <h2 class="bold white">{{movie.Title}}</h2>
                </a>
                <p class="white no-margin">{{movie.Released}}</p>
                <small class="white">
                    {{movie.Genres.length > 0 ? '| ':''}}
                    <span data-ng-repeat="genre in movie.Genres">
                        <a class="white" href="#/movie/list/Genres:{{genre}}">{{genre}}</a> | 
                    </span>
                </small>
                <p><small class="white">{{movie.Runtime}} min</small></p>
            </div>
        </div>
    </div>
    <div class="visible-xs" style="margin-top: -15px;"></div>
    <div>
        <div class="col-sm-1 col-md-1 col-lg-2"></div>
        <div class="col-sm-10 col-md-10 col-lg-8 no-padding">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="no-padding no-margin no-border" style="background: #EEEEEE; overflow: hidden;">
                        <div class="visible-xs row no-margin">
                            <a href="{{'#/movie/view/' + movie._id}}">
                                <div class="col-sm-4 no-padding">
                                    <div style="max-height: 300px; overflow: hidden;">
                                        <img data-ng-src="{{movie.Poster}}" class="full-width">
                                    </div>
                                </div>
                            </a>
                            <div class="col-sm-8 center no-border no-margin">
                                <a href="{{'#/movie/view/' + movie._id}}">
                                    <h2 class="bold">{{movie.Title}}</h2>
                                </a>
                                <p class="no-margin">{{movie.Released}}</p>
                                <small>
                                {{movie.Genres.length > 0 ? '| ':''}}
                                <span data-ng-repeat="genre in movie.Genres">
                                    <a href="#/movie/list/Genres:{{genre}}">{{genre}}</a> | 
                                </span>
                            </small>
                                <p><small>{{movie.Runtime}} min</small></p>
                            </div>
                        </div>
                        <hr class="no-margin">
                        <blockquote class="row no-padding no-margin no-border">
                            <div class="col-xs-12 col-sm-4">
                                <button class="btn btn-link full-width">
                                    <h1 class="no-margin">{{movie.ImdbRating | number: 1}}</h1>
                                </button>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <hr class="no-margin visible-xs">
                            <div class="col-xs-3 col-sm-2">
                                <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatchlist}}" title="Add To Watchlist" data-ng-click="addToWatchlist()"><span class="glyphicon glyphicon-plus movie-action-icon"></span>
                                    <br><small class="ellipsis">Add To Watchlist</small>
                                </button>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <button class="btn btn-link full-width toggle-icon-{{movie.addedToWatched}}" title="Mark As Watched" data-ng-click="addToWatched()"><span class="glyphicon glyphicon-ok movie-action-icon"></span>
                                    <br><small class="ellipsis">Mark As Watched</small>
                                </button>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <button class="btn btn-link full-width toggle-icon-{{movie.addedToLiked}}" title="Like This Movie" data-ng-click="addToLiked()"><span class="glyphicon glyphicon-heart movie-action-icon"></span>
                                    <br><small class="ellipsis">Like This Movie</small>
                                </button>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <button class="btn btn-link full-width toggle-icon-false" title="Play Trailer" data-ng-click="playTrailer()"><span class="glyphicon glyphicon-play movie-action-icon"></span>
                                    <br><small class="ellipsis">Play Trailer</small>
                                </button>
                            </div>
                        </blockquote>
                        <div class="well no-margin">
                            <label for="title" data-ng-if="movie.Plot">Plot : </label>
                            <p class="justified" data-ng-if="movie.Plot">{{movie.Plot}}</p>
                            <label for="title" data-ng-if="movie.Awards">Awards : </label>
                            <p class="justified" data-ng-if="movie.Awards" data-ng-if="movie.Awards">{{movie.Awards}}</p>
                        </div>
                        <div style="padding: 5px;">
                            <a class="btn btn-danger" data-ng-if="movie.Rated">{{movie.Rated}}</a>
                            <a class="btn btn-primary" data-ng-if="movie.BoxOffice">{{movie.BoxOffice}}</a>
                            <a href="{{'http://www.imdb.com/title/' + movie.ImdbID}}" target="_blank" class="btn btn-warning" data-ng-if="movie.ImdbID"><i class="glyphicon glyphicon-new-window"></i> IMDB</a>
                        </div>
                        <div class="well no-margin">
                            <label for="title">Actors</label>
                            <ul class="pager no-margin">
                                <li data-ng-repeat="actor in movie.Actors" class="previous"><a href="{{'#/movie/list/Actors:' + actor._id}}" class="navbar-item" style="margin: 1px;">{{actor.Name}}</a></li>
                            </ul>
                        </div>
                        <div class="well no-margin">
                            <label for="title">Directors</label>
                            <ul class="pager no-margin">
                                <li data-ng-repeat="director in movie.Directors" class="previous"><a href="{{'#/movie/list/Directors:' + director._id}}" class="navbar-item" style="margin: 1px;">{{director.Name}}</a></li>
                            </ul>
                        </div>
                        <div class="well no-margin">
                            <label for="title">Writers</label>
                            <ul class="pager no-margin">
                                <li data-ng-repeat="writer in movie.Writers" class="previous"><a href="{{'#/movie/list/Writers:' + writer._id}}" class="navbar-item" style="margin: 1px;">{{writer.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <form class="form-horizontal" role="form">
                    <h4>Say something about this movie</h4>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Something like... Hey this movie is all about this and that." data-ng-model="movieComment"
                            data-ng-change="movieCommentChange()"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="button">Comment</button>
                    <ul class="list-inline">
                        <li><a href=""><i class="glyphicon glyphicon-check"></i></a></li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-2"></div>
    </div>
</div>